
#ball{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: lightsalmon;
    animation: bounce 02.5s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
body{
    margin: 100px;
}
@keyframes bounce {
    0%{
        transform: translate3d(0px,-40px,0px);
    }
    20%{
        transform: translate3d(40px,40px,0px);
    }
    40%{
        transform: translate3d(80px,-40px,0px);
    }
    60%{
        transform: translate3d(120px,40px,0px);
    }
    80%{
        transform: translate3d(160px,-40px,0px);
    }
    100%{
        transform: translate3d(200px,40px,0px);
    }
    
}