.row{
    display: flex;
    
    align-items: stretch;
   
}

.row .label{
    flex:0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.row .container{
    flex: 1;
    display: flex;
    /* flex-direction: column; */
    align-items: stretch;
    justify-content: flex-end;
 }
.dish{
    display: flex;
    padding: 10px;
    
    justify-content: center;
    align-items: center;
}
.pizza{
    background-color: aquamarine;
}
.pasta{
    background-color: burlywood;
}
.salad{
    background-color: brown;
}